#cabecera{
  background: #34a45e;
  text-align: center;
  top: 10%;
  left: 40%;
  height: 60%;
  padding: 10px 10px 10px 10px;
}


#div {
  background: #95a5a6;
  padding: 10px 10px 10px 1px;
  top: 5%;
  left: 40%;
  height: 10%;
  border: 5px;
}


#tabla {
  font-family: Arial;
}

#titulo
{
  text-align:center;
  padding:10px;
}
